# build artifacts
lenet
*.o

# editor temporary files
*.swp
*~
*:Zone.Identifier
*.Zone.Identifier


# dataset
t10k-images-idx3-ubyte
data-fashion-mnist-lenet.raw
data-fashion-mnist-t10k-images-idx3-ubyte
lenet.raw
# datasets
*.raw
t10k-*
data-fashion-mnist*

# bundles
*.bundle

# windows metadata
*:Zone.Identifier
